.row{
    display: flex;
    flex-wrap: wrap;
}
*{
box-sizing: border-box;
}
.column{
    padding: 20px;
    flex: 25%;
}
@media screen and (max-width:900px){
    .column{
        flex: 50%;

    }
}
@media screen and (max-width:600px)
{
    .column{
        flex: 100%;
    }
}