.newspaper{
    column-count: 5;
    column-gap: 20px;
    column-rule-style:double;
    column-rule-width: 2px;
    column-width: 80px;
}
.d1{
    border:2px solid;
    padding:20px;
    width: 400px;
    resize: horizontal;
    overflow: auto;
    margin-top: 20px;

}
textarea#d{
    margin: 10px;
}
:root{
    --blue:green;
}


.d2{
    border: 2px solid green;
    outline: 3px solid red;
    outline-offset: 10px;
    margin:20px;
    background-color: var(--blue);
}



