.d2{
    padding-top: 20px;
    padding-left:30px;
    padding-right: 5px;
    padding-bottom: 50px;
   
    margin: 100px;
    border:1px solid green; 
}
#div1{

    width: 500px;
    border: 2px solid yellow;
    padding:20px;
    box-sizing:border-box ;
}
div.d3{
    background-color: aqua;
    width: 300px;
    border:10px solid red;
    margin:20px;
    padding:50px;
    box-sizing: border-box;
}
